// Cookies dialog

.cookie--container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $cookie-bg;
  font-size: em(16, 20);
  color: $white-color;

  .button {
    padding: 0 10px;
  }
}

.cookie--content {
  max-width: $page-width;
  margin: 10px auto;
  padding: 0 20px;

  > p {
    padding: 0;
    margin: 0;

    > a {
      display: inline-block;
      margin-right: 1em;
    }
  }
}
