// A file for fast hacks there shouldn't be here to begin with
// This is where you put the code and explain why

.section--highlighted {
  .messages--error {
    width: 10px;
    max-height: 2px;
    overflow: auto;
    background-color: $border-menu-dark;

    &:hover {
      width: auto;
      max-width: $page-width;
      max-height: 300px;
      border: 2px solid $border-menu-dark;
    }
  }
}
