// Basic layout - structure
.layout--footer {
  background-color: $footer-bg;
  color: $text-invers;
}

.layout--horizontalbox {
  padding: 0;

  li {
    list-style: none;
  }
}

@include mq($from: tablet) {
  .layout--horizontalbox {
    overflow: hidden;

    li {
      float: left;
    }

    /* one item */
    li:first-child:nth-last-child(1) {
      width: 100%;
    }

    /* two items */
    li:first-child:nth-last-child(2),
    li:first-child:nth-last-child(2) ~ li {
      width: 48%;
      margin: 0 1%;
    }

    /* three items */
    li:first-child:nth-last-child(3),
    li:first-child:nth-last-child(3) ~ li {
      width: 31.3333%;
      margin: 0 1%;
    }

    /* four items */
    li:first-child:nth-last-child(4),
    li:first-child:nth-last-child(4) ~ li {
      width: 23%;
      margin: 0 1%;
    }
  }

  .layout--horizontalbox__item {
    .layout--horizontalbox__inner {
      margin: 0 auto;
      max-width: $page-sidebar-width;
    }

    &:first-of-type {
      .layout--horizontalbox__inner {
        margin-left: 0;
      }
    }

    &:last-of-type {
      .layout--horizontalbox__inner {
        margin-right: 0;
        float: right;
      }
    }
  }
}
